[Unit]
Description=Openwsman WS-Management Service
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/openwsmand -S
ExecStartPre=/etc/openwsman/owsmantestcert.sh
ExecStartPost=/usr/bin/sleep 0.1
PIDFile=/run/wsmand.pid

[Install]
WantedBy=multi-user.target
